Repository Imiss-U1025/BotPress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @charlescatta, @chsir17, @ptrckbp, @allardy, @lakshya0246, @AbrahamLopez10, @davidvitora

fix(linear): handle bot creating issues (#13012)
  integrations/linear/src/definitions/schemas.ts
  integrations/linear/src/misc/utils.ts
Owners: @allardy

fix(linear): fix type checking (#13026)
  integrations/linear/src/handler.ts
Owners: @allardy

chore: github issue templates (#13025)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  readme.md
Owners: @botpress/cloud-services

chore: improve issue template (#13027)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/issue.yml
Owners: @botpress/cloud-services

fix(client): update api (#13028)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore: allow running E2E tests in CI by workflow dispatch (#13030)
  .github/workflows/run-cli-tests.yml
Owners: @botpress/cloud-services

Updated Make integration (#13032)
  integrations/make/integration.definition.ts
Owners: @charlescatta

chore: fix format and lint (#13033)
  integrations/make/integration.definition.ts
  packages/client/e2e/browser/index.ts
  packages/client/e2e/browser/script.ts
  packages/client/src/index.ts
Owners: @charlescatta, @franklevasseur

fix(whatsapp): file extension should be extracted correctly for URLs with query strings (#13034)
  integrations/whatsapp/src/index.ts
Owners: @AbrahamLopez10

chore(client): update api version (#13035)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  packages/sdk/src/bot/context.ts
  packages/sdk/src/bot/server.ts
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(sdk): correctly type events in integration specific client (#13037)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/sdk/package.json
  packages/sdk/src/integration/client/index.ts
  packages/sdk/src/integration/client/routes.ts
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(sdk): correctly type create event route in integration specific client (#13038)
  integrations/webhook/src/index.ts
  package.json
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/sdk/package.json
  packages/sdk/src/integration/client/routes.ts
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(client): support for Files API (#13036)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/client/src/index.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

fix(sdk): allow client to delete state (#13042)
  integrations/webchat/src/handler.ts
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/sdk/package.json
  packages/sdk/src/bot/client/routes.ts
  packages/sdk/src/integration/client/routes.ts
  pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur

chore(client): bump version (#13043)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

fix(client): add xIndex to createFile (#13044)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/client/src/index.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(slack): add updateChannelTopic action (#13031)
  integrations/slack/integration.definition.ts
  integrations/slack/src/actions/index.ts
  integrations/slack/src/actions/update-channel-topic.ts
  integrations/slack/src/definitions/actions.ts
Owners: @michaelmass

feat(client): better typings for createFile (#13045)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/client/src/index.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(cli): add a read command to parse the integration.definition.ts and log to stdout (#13047)
  packages/cli/src/api/integration-body.ts
  packages/cli/src/command-definitions.ts
  packages/cli/src/command-implementations/index.ts
  packages/cli/src/command-implementations/read-command.ts
  packages/cli/src/config.ts
  packages/cli/src/logger/base-logger.ts
  packages/cli/src/logger/index.ts
  packages/cli/src/utils/string-utils.ts
Owners: @franklevasseur

chore: ensure ci supports integration versioning (#13046)
  .github/actions/deploy-integrations/action.yml
  .github/scripts/integration-exists.sh
  .github/workflows/check-integration-versions.yml
  integrations/asana/hub.md
Owners: @botpress/cloud-services

feat(cli): allow deploying an integration publicly (#13048)
  .github/actions/deploy-integrations/action.yml
  .github/workflows/check-integration-versions.yml
  integrations/telegram/integration.definition.ts
  integrations/telegram/package.json
  integrations/telegram/src/index.ts
  packages/cli/e2e/defaults.ts
  packages/cli/src/command-implementations/deploy-command.ts
  packages/cli/src/config.ts
  packages/client/package.json
  packages/sdk/src/integration/definition.ts
  pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur, @charlescatta

chore: fix ci (#13049)
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/cloud-services

feat(sdk): v0.6.11 (#13051)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(client): update to API v0.20.0 (#13052)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(cli): fix e2e tests with input workspace handle (#13056)
  .github/workflows/run-cli-tests.yml
  packages/cli/e2e/index.ts
  packages/cli/e2e/tests/create-deploy-integration.ts
  packages/cli/e2e/tests/integration-secrets.ts
  packages/cli/e2e/typings.ts
Owners: @botpress/cloud-services, @franklevasseur

chore: upgrade API to v0.21.0 (#13057)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore: remove disclaimer (#13058)
  packages/client/readme.md
Owners: @franklevasseur

chore(client): bump client version (#13060)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore: replace shellby by execa (#13061)
  bots/bugbuster/integrations.ts
  bots/bugbuster/package.json
  bots/hit-looper/integrations.ts
  bots/hit-looper/package.json
  bots/sheetzy/integrations.ts
  bots/sheetzy/package.json
  pnpm-lock.yaml
  scripts/shellby/package.json
  scripts/shellby/readme.md
  scripts/shellby/src/index.ts
  scripts/shellby/tsconfig.json
Owners: @botpress/cloud-services, @franklevasseur

chore: move depsynky in internal packages (#13062)
  package.json
  pnpm-lock.yaml
  scripts/depsynky/package.json
  scripts/depsynky/readme.md
  scripts/depsynky/src/commands/bump-versions.ts
  scripts/depsynky/src/commands/check-versions.ts
  scripts/depsynky/src/commands/list-versions.ts
  scripts/depsynky/src/commands/sync-versions.ts
  scripts/depsynky/src/config.ts
  scripts/depsynky/src/errors.ts
  scripts/depsynky/src/index.ts
  scripts/depsynky/src/utils/index.ts
  scripts/depsynky/src/utils/logging.ts
  scripts/depsynky/src/utils/objects.ts
  scripts/depsynky/src/utils/pkgjson.ts
  scripts/depsynky/src/utils/pnpm.ts
  scripts/depsynky/tsconfig.json
Owners: @botpress/cloud-services, @franklevasseur

CODEOWNERS:

# Global
* @botpress/cloud-services

# Scripts
/scripts @franklevasseur

# Client, SDK, CLI
/packages @franklevasseur

# Bots
/packages/bots @franklevasseur

# Integrations
/integrations/dalle @franklevasseur
/integrations/gmail @michaelmass
/integrations/googlecalendar @charlescatta
/integrations/gsheets @franklevasseur
/integrations/instagram @charlescatta
/integrations/intercom @chsir17 @ptrckbp
/integrations/linear @allardy
/integrations/mailchimp @charlescatta
/integrations/make @charlescatta
/integrations/messenger @charlescatta
/integrations/notion @lakshya0246
/integrations/slack @michaelmass
/integrations/stripe @charlescatta
/integrations/teams @franklevasseur
/integrations/telegram @franklevasseur @charlescatta
/integrations/twilio @AbrahamLopez10
/integrations/webhook @franklevasseur
/integrations/whatsapp @AbrahamLopez10
/integrations/zapier @AbrahamLopez10
/integrations/zendesk @davidvitora
