Repository Imiss-U1025/BotPress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @kimchicharlie, @lakshya0246, @AbrahamLopez10, @davidvitora

feat(messenger): add logs to bot (#12886)
  integrations/messenger/src/index.ts
Owners: @kimchicharlie

feat(instagram): add logs to bot (#12887)
  integrations/instagram/src/index.ts
Owners: @kimchicharlie

fix(zendesk): allow nullable phone and photo (#12890)
  integrations/zendesk/src/definitions/schemas.ts
Owners: @davidvitora

fix(zendesk): add admin to the list of agents (#12891)
  integrations/zendesk/src/client.ts
Owners: @davidvitora

feat(telegram): add more logs (#12892)
  integrations/instagram/src/index.ts
  integrations/messenger/src/index.ts
  integrations/slack/src/events/message-received.ts
  integrations/telegram/src/index.ts
  integrations/telegram/src/misc/utils.ts
Owners: @kimchicharlie, @botpress/cloud-services

feat(slack): implement start dm & list active users (#12858)
  integrations/slack/package.json
  integrations/slack/src/actions/find-target.ts
  integrations/slack/src/actions/index.ts
  integrations/slack/src/actions/list-users.ts
  integrations/slack/src/actions/start-dm.ts
  integrations/slack/src/definitions/actions.ts
  integrations/slack/src/definitions/channels.ts
  integrations/slack/src/definitions/index.ts
  pnpm-lock.yaml
Owners: @botpress/cloud-services

fix(slack): user sync was broken (#12900)
  integrations/slack/src/actions/index.ts
  integrations/slack/src/actions/list-users.ts
  integrations/slack/src/actions/start-dm.ts
  integrations/slack/src/definitions/actions.ts
  integrations/slack/src/definitions/index.ts
  integrations/slack/src/misc/utils.ts
  integrations/slack/src/setup.ts
Owners: @botpress/cloud-services

fix(whatsapp): location message handling logic is now in correct spot (#12898)
  integrations/whatsapp/src/incoming-message.ts
  integrations/whatsapp/src/index.ts
Owners: @AbrahamLopez10

refactor(instagram): better code organization (#12895)
  integrations/instagram/src/index.ts
  integrations/instagram/src/misc/incoming-message.ts
  integrations/instagram/src/misc/outgoing-message.ts
  integrations/instagram/src/misc/types.ts
  integrations/instagram/src/misc/utils.ts
Owners: @kimchicharlie

refactor(telegram): better code organization (#12897)
  integrations/telegram/src/index.ts
  integrations/telegram/src/misc/types.ts
  integrations/telegram/src/misc/utils.ts
Owners: @botpress/cloud-services

CODEOWNERS:

# Global
* @botpress/cloud-services

# Scripts
/scripts @franklevasseur

# Client, SDK, CLI
/packages @franklevasseur 

# Bots
/packages/bots @franklevasseur 

# Integrations
/integrations/gmail @michaelmass 
/integrations/gsheets @franklevasseur 
/integrations/instagram @kimchicharlie
/integrations/messenger @kimchicharlie
/integrations/notion @lakshya0246 
/integrations/teams @franklevasseur 
/integrations/whatsapp @AbrahamLopez10
/integrations/zapier @AbrahamLopez10 
/integrations/twilio @AbrahamLopez10 
/integrations/zendesk @davidvitora
