Repository Imiss-U1025/BotPress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @kimchicharlie, @chsir17, @ptrckbp, @allardy, @lakshya0246, @AbrahamLopez10, @davidvitora

feat(cli): rm stars when prompting for PAT during login (#12916)
  packages/cli/package.json
  packages/cli/src/command-implementations/login-command.ts
Owners: @franklevasseur

chore(client): bump api version (#12917)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(client): update client version (#12918)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(client): release version 0.9.0 with updated API (#12919)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(client): bump client version to v0.9.1 (#12921)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

fix(slack): added missing oauth scopes (#12899)
  integrations/slack/linkTemplate.vrl
Owners: @michaelmass

feat(cli): allow listing dev bots and integrations (#12922)
  packages/cli/src/command-implementations/bot-commands.ts
  packages/cli/src/command-implementations/integration-commands.ts
  packages/cli/src/config.ts
Owners: @franklevasseur

chore(cli): upgrade const + bump to v0.4.23 (#12923)
  packages/cli/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(sdk): expose simple health check (#12924)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/sdk/package.json
  packages/sdk/src/serve.ts
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(client): Update client (#12926)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore: update @botpress/client (#12927)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(client): update client version (#12938)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore: vscode settings auto change (#12943)
  .vscode/settings.json
Owners: @botpress/cloud-services

fix(gsheets): clean code (#12932)
  integrations/gsheets/src/index.ts
  integrations/gsheets/src/misc/utils.ts
Owners: @franklevasseur

chore(zapier): upgrade axios version (#12941)
  integrations/zapier/package.json
  pnpm-lock.yaml
Owners: @AbrahamLopez10, @botpress/cloud-services

feat(sdk): some more typings for specific clients (#12937)
  bots/hit-looper/src/message-handler/from-agent.ts
  bots/hit-looper/src/message-handler/from-patient.ts
  bots/sheetzy/package.json
  integrations/slack/src/definitions/channels.ts
  integrations/slack/src/misc/utils.ts
  integrations/whatsapp/package.json
  integrations/zendesk/package.json
  packages/sdk/src/bot/client/index.ts
  packages/sdk/src/bot/client/routes.ts
  packages/sdk/src/bot/client/types.ts
  packages/sdk/src/bot/server.ts
  packages/sdk/src/integration/client/index.ts
  packages/sdk/src/integration/client/routes.ts
  packages/sdk/src/type-utils.ts
  pnpm-lock.yaml
Owners: @botpress/cloud-services, @michaelmass, @AbrahamLopez10, @davidvitora, @franklevasseur

chore(client): bump client version (#12945)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(whatsapp): support for media messages (#12944)
  integrations/whatsapp/src/incoming-message.ts
Owners: @AbrahamLopez10

chore(client): release version 0.10.0 (#12947)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(whatsapp): provide media URL in payload when a media message is received (#12946)
  integrations/whatsapp/src/incoming-message.ts
  integrations/whatsapp/src/index.ts
  integrations/whatsapp/src/util.ts
Owners: @AbrahamLopez10

feat(slack): verify requests signature (#12913)
  .github/actions/deploy-integrations/action.yml
  .github/workflows/deploy-integrations-production.yml
  .github/workflows/deploy-integrations-staging.yml
  integrations/slack/integration.definition.ts
  integrations/slack/linkTemplate.vrl
  integrations/slack/src/handler.ts
  integrations/slack/src/misc/utils.ts
  integrations/slack/src/misc/validateRequestSignature.test.ts
Owners: @botpress/cloud-services, @michaelmass

fix(slack): add some integration prefixed tags (#12930)
  integrations/slack/src/actions/start-dm.ts
  integrations/slack/src/const.ts
  integrations/slack/src/events/message-received.ts
Owners: @michaelmass

chore(client): update client version (#12948)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(gsheets): add logs for debug (#12933)
  integrations/gsheets/src/actions/add-sheet.ts
  integrations/gsheets/src/actions/append-values.ts
  integrations/gsheets/src/actions/clear-values.ts
  integrations/gsheets/src/actions/get-info-spread-sheet.ts
  integrations/gsheets/src/actions/get-values.ts
  integrations/gsheets/src/actions/update-values.ts
Owners: @franklevasseur

feat(telegram): put user name in conversation tags (#12953)
  integrations/telegram/integration.definition.ts
  integrations/telegram/src/const.ts
  integrations/telegram/src/index.ts
Owners: @franklevasseur, @kimchicharlie

chore(sheetzy): cleanup (#12955)
  bots/sheetzy/src/bot.ts
Owners: @botpress/cloud-services

chore(webchat): disable webchat deployment (#12956)
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/cloud-services

fix(cli): temporarily revert setting secrets when creating/updating an integration as schema validation is failing (#12958)
  packages/cli/package.json
  packages/cli/src/command-implementations/deploy-command.ts
  packages/cli/src/command-implementations/dev-command.ts
  packages/client/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(cli): integration secrets are now handled by API (#12957)
  .gitignore
  packages/cli/package.json
  packages/cli/src/command-implementations/deploy-command.ts
  packages/cli/src/command-implementations/dev-command.ts
  packages/cli/src/command-implementations/global-command.ts
  packages/cli/src/command-implementations/project-command.ts
  packages/cli/src/command-implementations/serve-command.ts
Owners: @botpress/cloud-services, @franklevasseur

feat(cli): delete removed secrets (#12960)
  packages/cli/package.json
  packages/cli/src/command-implementations/project-command.ts
Owners: @franklevasseur

chore(slack): update slack client id (#12961)
  integrations/slack/linkTemplate.vrl
Owners: @michaelmass

chore: do not repeat secrets for no reason (#12963)
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/cloud-services

fix(cli): minor logging issues (#12964)
  packages/cli/src/command-implementations/deploy-command.ts
  packages/cli/src/command-implementations/project-command.ts
Owners: @franklevasseur

chore(gmail): rm hackish replace script (#12965)
  integrations/gmail/package.json
  integrations/gmail/scripts/replace.ts
Owners: @michaelmass

feat(bots/bugbuster): notify owner every 6h if a github issue is unasigned (#12966)
  .github/workflows/bugbuster.yml
  bots/bugbuster/integrations.ts
  bots/bugbuster/src/bot.ts
  bots/bugbuster/src/handlers/index.ts
  bots/bugbuster/src/handlers/issue-opened.ts
  bots/bugbuster/src/handlers/sync-issues.ts
  bots/bugbuster/src/handlers/typings.ts
  bots/bugbuster/src/index.ts
  integrations/github/src/actions/find-target.ts
  integrations/github/src/definitions/actions.ts
  packages/sdk/src/bot/implementation.ts
Owners: @botpress/cloud-services, @franklevasseur

feat(integrations): Add Mailchimp integration (#12954)
  integrations/mailchimp/hub.md
  integrations/mailchimp/icon.svg
  integrations/mailchimp/integration.definition.ts
  integrations/mailchimp/package.json
  integrations/mailchimp/src/actions/add-customer-to-campaign.ts
  integrations/mailchimp/src/actions/add-customer-to-list.ts
  integrations/mailchimp/src/actions/get-all-campaigns.ts
  integrations/mailchimp/src/actions/get-all-lists.ts
  integrations/mailchimp/src/actions/index.ts
  integrations/mailchimp/src/actions/send-mass-email-campaign.ts
  integrations/mailchimp/src/client/index.ts
  integrations/mailchimp/src/index.ts
  integrations/mailchimp/src/misc/custom-schemas.ts
  integrations/mailchimp/src/misc/custom-types.ts
  integrations/mailchimp/src/misc/custom-uis.ts
  integrations/mailchimp/src/misc/sub-schemas.ts
  integrations/mailchimp/src/misc/types.ts
  integrations/mailchimp/src/utils.ts
  integrations/mailchimp/tsconfig.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services

chore(integrations/mailchimp): tag zod version using ^ version anchor (#12968)
  integrations/mailchimp/package.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services

CODEOWNERS:

# Global
* @botpress/cloud-services

# Scripts
/scripts @franklevasseur

# Client, SDK, CLI
/packages @franklevasseur

# Bots
/packages/bots @franklevasseur

# Integrations
/integrations/gmail @michaelmass
/integrations/gsheets @franklevasseur
/integrations/instagram @kimchicharlie
/integrations/intercom @chsir17 @ptrckbp
/integrations/linear @allardy
/integrations/messenger @kimchicharlie
/integrations/notion @lakshya0246
/integrations/slack @michaelmass
/integrations/teams @franklevasseur
/integrations/telegram @franklevasseur @kimchicharlie
/integrations/twilio @AbrahamLopez10
/integrations/webhook @franklevasseur
/integrations/whatsapp @AbrahamLopez10
/integrations/zapier @AbrahamLopez10
/integrations/zendesk @davidvitora
