Repository Imiss-U1025/BotPress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @charlescatta, @kimchicharlie, @chsir17, @ptrckbp, @allardy, @lakshya0246, @AbrahamLopez10, @davidvitora

chore(client): update api version (#12989)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

fix(cli): enforce that integration actions, channels, messages, events and states use camelcase (#12991)
  .eslintrc.js
  packages/cli/src/api/bot-body.ts
  packages/cli/src/api/client.ts
  packages/cli/src/api/integration-body.ts
  packages/cli/src/code-generation/index.ts
  packages/cli/src/code-generation/map-integration.ts
  packages/cli/src/command-implementations/add-command.ts
  packages/cli/src/command-implementations/deploy-command.ts
  packages/cli/src/command-implementations/dev-command.ts
  packages/cli/src/command-implementations/integration-commands.ts
  packages/cli/src/command-implementations/login-command.ts
  packages/cli/src/command-implementations/project-command.ts
  packages/cli/src/command-implementations/serve-command.ts
  packages/cli/src/sdk/validate-integration.ts
  packages/cli/src/utils/guard-utils.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/record-utils.ts
  packages/cli/src/utils/string-utils.ts
  packages/sdk/src/bot/server.ts
Owners: @botpress/cloud-services, @franklevasseur

chore(client): increase api version (#12993)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(cli): use dotenv to load environment variables (#12996)
  packages/cli/package.json
  packages/cli/src/index.ts
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(whatsapp): upgrade Whatsapp API JS dependency to v1.0.5 (#12999)
  integrations/whatsapp/package.json
  integrations/whatsapp/src/conversation.ts
  integrations/whatsapp/src/index.ts
  integrations/whatsapp/src/interactive/body.ts
  integrations/whatsapp/src/interactive/button.ts
  integrations/whatsapp/src/interactive/footer.ts
  integrations/whatsapp/src/message-types/card.ts
  integrations/whatsapp/src/message-types/choice.ts
  integrations/whatsapp/src/message-types/dropdown.ts
  integrations/whatsapp/src/outgoing-message.ts
  integrations/whatsapp/src/util.ts
  pnpm-lock.yaml
Owners: @AbrahamLopez10, @botpress/cloud-services

chore(client): update api version (#13001)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(whatsapp): use CTA URL buttons for cards (#13000)
  integrations/whatsapp/src/message-types/card.ts
Owners: @AbrahamLopez10

fix(stripe): fix readme path (#13003)
  integrations/stripe/integration.definition.ts
Owners: @charlescatta

fix(stripe): ensure stripe can deploy (#13004)
  integrations/stripe/integration.definition.ts
Owners: @charlescatta

feat(client): bump api to v0.17.0 (#13005)
  package.json
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur

feat(sdk): integration can expose entities (#13006)
  integrations/linear/integration.definition.ts
  integrations/linear/src/actions/get-issue.ts
  integrations/linear/src/definitions/actions.ts
  integrations/linear/src/definitions/index.ts
  integrations/linear/src/definitions/schemas.ts
  integrations/slack/src/definitions/actions.ts
  packages/cli/src/api/integration-body.ts
  packages/sdk/src/integration/definition.ts
Owners: @allardy, @michaelmass, @franklevasseur

chore: bump cli and sdk by minor (#13008)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(gmail): bring back type checking (#13009)
  .prettierignore
  integrations/gmail/package.json
  integrations/gmail/src/index.ts
Owners: @botpress/cloud-services, @michaelmass

feat(linear): custom bot name & add tags (#13007)
  integrations/linear/src/actions/create-issue.ts
  integrations/linear/src/const.ts
  integrations/linear/src/definitions/index.ts
  integrations/linear/src/definitions/schemas.ts
  integrations/linear/src/events/issueCreated.ts
  integrations/linear/src/events/issueUpdated.ts
  integrations/linear/src/handler.ts
  integrations/linear/src/misc/linear.ts
  integrations/linear/src/misc/utils.ts
Owners: @allardy

chore: retry deploy integrations (#13010)
  .github/actions/deploy-integrations/action.yml
  integrations/notion/icon.svg
  package.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services, @lakshya0246

feat(client): bump api version and support get or set state operation (#13011)
  .gitignore
  .prettierignore
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/package.json
  packages/sdk/package.json
  packages/sdk/src/bot/client/index.ts
  packages/sdk/src/bot/client/routes.ts
  packages/sdk/src/integration/client/index.ts
  packages/sdk/src/integration/client/routes.ts
  pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur

fix(client): update table api (#13015)
  packages/client/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore: sync dependencies inside repo (#13018)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

feat(cli): allow forward slash in integration name (#13017)
  packages/cli/e2e/tests/create-deploy-integration.ts
  packages/cli/package.json
  packages/cli/src/code-generation/index.ts
  packages/cli/src/command-implementations/add-command.ts
  packages/cli/src/command-implementations/init-command.ts
  packages/cli/src/utils/case-utils.ts
  packages/cli/templates/empty-integration/integration.definition.ts
  packages/cli/templates/empty-integration/package.json
Owners: @franklevasseur

chore(client): added http agents to axios to keep alive the connection (#13020)
  .github/workflows/run-cli-tests.yml
  .github/workflows/run-client-tests.yml
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/client/e2e/browser/index.ts
  packages/client/e2e/browser/script.ts
  packages/client/e2e/consts.ts
  packages/client/e2e/node.ts
  packages/client/package.json
  packages/client/src/config.ts
  packages/client/src/index.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur

fix(client): client e2e github action puppeteer version (#13021)
  .github/workflows/run-client-tests.yml
  pnpm-lock.yaml
Owners: @botpress/cloud-services

feat: new integration for make (#13019)
  .github/actions/deploy-integrations/action.yml
  integrations/make/hub.md
  integrations/make/icon.svg
  integrations/make/integration.definition.ts
  integrations/make/package.json
  integrations/make/src/index.ts
  integrations/make/tsconfig.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services

chore: ensure integrations are deployed in alphabetic ordering (#13022)
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/cloud-services

CODEOWNERS:

# Global
* @botpress/cloud-services

# Scripts
/scripts @franklevasseur

# Client, SDK, CLI
/packages @franklevasseur

# Bots
/packages/bots @franklevasseur

# Integrations
/integrations/dalle @franklevasseur
/integrations/gmail @michaelmass
/integrations/googlecalendar @charlescatta
/integrations/gsheets @franklevasseur
/integrations/instagram @kimchicharlie
/integrations/intercom @chsir17 @ptrckbp
/integrations/linear @allardy
/integrations/mailchimp @charlescatta
/integrations/messenger @kimchicharlie
/integrations/notion @lakshya0246
/integrations/slack @michaelmass
/integrations/teams @franklevasseur
/integrations/telegram @franklevasseur @kimchicharlie
/integrations/twilio @AbrahamLopez10
/integrations/webhook @franklevasseur
/integrations/whatsapp @AbrahamLopez10
/integrations/zapier @AbrahamLopez10
/integrations/zendesk @davidvitora
/integrations/stripe @charlescatta
