Repository Imiss-U1025/BotPress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @allardy, @michaelmass, @charlescatta, @AbrahamLopez10, @chsir17, @ptrckbp, @lakshya0246, @davidvitora

CODEOWNERS:

# Global
* @botpress/cloud-services

# Scripts
/scripts @franklevasseur

# Client, SDK, CLI
/packages @botpress/cloud-services

# Bots
/packages/bots @franklevasseur

# Integrations
/integrations/charts @allardy
/integrations/dalle @franklevasseur
/integrations/gmail @michaelmass
/integrations/googlecalendar @charlescatta
/integrations/groq @AbrahamLopez10
/integrations/gsheets @franklevasseur
/integrations/instagram @charlescatta
/integrations/intercom @chsir17 @ptrckbp
/integrations/linear @allardy
/integrations/mailchimp @charlescatta
/integrations/make @charlescatta
/integrations/messenger @charlescatta
/integrations/notion @lakshya0246
/integrations/openai @AbrahamLopez10
/integrations/slack @michaelmass
/integrations/stripe @charlescatta
/integrations/teams @franklevasseur
/integrations/telegram @franklevasseur @charlescatta
/integrations/twilio @AbrahamLopez10
/integrations/webbrowser @allardy
/integrations/webhook @franklevasseur
/integrations/whatsapp @AbrahamLopez10
/integrations/zapier @AbrahamLopez10
/integrations/zendesk @davidvitora

chore: fix deploy integration action (#13146)
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/cloud-services

feat(sdk): zui 0.8.6 (#13149)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services

feat(integrations): return usage cost of OpenAI and Groq integrations in action output (#13150)
  integrations/groq/src/index.ts
  integrations/openai/src/index.ts
  packages/common/src/llm/openai.ts
  packages/common/src/llm/schemas.ts
Owners: @AbrahamLopez10, @botpress/cloud-services

chore: deploy llms integrations in staging (#13151)
  .github/actions/deploy-integrations/action.yml
  .github/workflows/deploy-integrations-production.yml
  .github/workflows/deploy-integrations-staging.yml
Owners: @botpress/cloud-services

chore(client): update API to v0.32.1 (#13152)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services

fix(llm): add descriptions, limits (#13153)
  integrations/groq/integration.definition.ts
  integrations/groq/src/index.ts
  integrations/openai/integration.definition.ts
  integrations/openai/src/index.ts
  packages/common/src/llm/openai.ts
  packages/common/src/llm/schemas.ts
Owners: @AbrahamLopez10, @botpress/cloud-services

chore: deploy OpenAI and Groq integrations to production (#13155)
  .github/workflows/deploy-integrations-production.yml
Owners: @botpress/cloud-services

chore(client): update to API version 0.32.3 (#13157)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/client/package.json
  packages/client/src/client.ts
  packages/client/src/types.ts
  packages/client/tests/manual/file-upload.test.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services

chore: implement llm interfaces in llm integrations (#13161)
  integrations/groq/integration.definition.ts
  integrations/groq/src/index.ts
  integrations/openai/integration.definition.ts
  integrations/openai/src/index.ts
  packages/common/src/llm/index.ts
  packages/common/src/llm/openai.ts
  packages/common/src/llm/types.ts
  packages/sdk/src/interfaces/hitl.ts
  packages/sdk/src/interfaces/index.ts
  packages/sdk/src/interfaces/llm.ts
  packages/sdk/src/interfaces/sync.ts
Owners: @AbrahamLopez10, @botpress/cloud-services

feat(sdk): Bump zui 0.9.0 (#13162)
  integrations/mailchimp/src/actions/get-all-campaigns.ts
  integrations/webhook/src/index.ts
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @charlescatta, @franklevasseur, @botpress/cloud-services

feat(llm): add project for llm interface (#13163)
  interfaces/llm/interface.definition.ts
  interfaces/llm/package.json
  interfaces/llm/tsconfig.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services

feat(sdk): zui 0.9.1 (#13164)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services

fix(llm): put back optional model in llm action input (#13166)
  integrations/groq/src/index.ts
  integrations/openai/src/index.ts
  packages/common/src/llm/openai.ts
  packages/sdk/src/interfaces/llm.ts
Owners: @AbrahamLopez10, @botpress/cloud-services

chore: always deploy interfaces before integrations in ci (#13167)
  .github/actions/deploy-integrations/action.yml
  .github/workflows/deploy-integrations-production.yml
  .github/workflows/deploy-integrations-staging.yml
  .github/workflows/deploy-interfaces-production.yml
  .github/workflows/deploy-interfaces-staging.yml
Owners: @botpress/cloud-services

feat(googlecalendar): implement CRUD interfaces (#13160)
  integrations/googlecalendar/integration.definition.ts
  integrations/googlecalendar/src/actions/create-event.ts
  integrations/googlecalendar/src/actions/delete-event.ts
  integrations/googlecalendar/src/actions/index.ts
  integrations/googlecalendar/src/actions/list-events.ts
  integrations/googlecalendar/src/actions/sync/event-create.ts
  integrations/googlecalendar/src/actions/sync/event-delete.ts
  integrations/googlecalendar/src/actions/sync/event-list.ts
  integrations/googlecalendar/src/actions/sync/event-read.ts
  integrations/googlecalendar/src/actions/sync/event-update.ts
  integrations/googlecalendar/src/actions/sync/index.ts
  integrations/googlecalendar/src/actions/update-event.ts
  integrations/googlecalendar/src/index.ts
  integrations/googlecalendar/src/misc/custom-schemas.ts
  integrations/googlecalendar/src/misc/map-event.ts
  integrations/googlecalendar/src/misc/types.ts
  packages/sdk/src/interfaces/sync.ts
Owners: @charlescatta, @botpress/cloud-services

chore: rename extension builder arguments (#13168)
  integrations/googlecalendar/integration.definition.ts
  integrations/linear/integration.definition.ts
Owners: @charlescatta, @allardy

fix(sdk): allow passing any entity schema that infers to the expected data type (#13165)
  integrations/groq/integration.definition.ts
  integrations/groq/src/index.ts
  integrations/groq/src/schemas.ts
  integrations/openai/integration.definition.ts
  integrations/openai/src/index.ts
  integrations/openai/src/schemas.ts
  packages/common/src/llm/openai.ts
  packages/sdk/src/integration/definition/branded-schema.ts
  packages/sdk/src/integration/definition/entity-store.ts
  packages/sdk/src/integration/definition/integration-definition.ts
  packages/sdk/src/interfaces/llm.ts
Owners: @AbrahamLopez10, @botpress/cloud-services

chore: upgrade setup pnpm action to v4 (#13169)
  .github/actions/setup/action.yml
Owners: @botpress/cloud-services

feat(integrations): Anthropic LLM integration (#13159)
  integrations/anthropic/hub.md
  integrations/anthropic/icon.svg
  integrations/anthropic/integration.definition.ts
  integrations/anthropic/package.json
  integrations/anthropic/src/actions/generate-content.ts
  integrations/anthropic/src/index.ts
  integrations/anthropic/src/schemas.ts
  integrations/anthropic/tsconfig.json
  integrations/groq/hub.md
  integrations/openai/hub.md
  integrations/openai/integration.definition.ts
  packages/common/src/llm/openai.ts
  packages/common/src/llm/types.ts
  packages/sdk/src/index.ts
  packages/sdk/src/integration/index.ts
  packages/sdk/src/interfaces/llm.ts
  pnpm-lock.yaml
  turbo.json
Owners: @botpress/cloud-services, @AbrahamLopez10

chore(integrations): update workflows to deploy Anthropic integration (#13170)
  .github/actions/deploy-integrations/action.yml
  .github/workflows/deploy-integrations-production.yml
  .github/workflows/deploy-integrations-staging.yml
Owners: @botpress/cloud-services

chore: upgrade client (#13172)
  packages/cli/package.json
  packages/cli/templates/echo-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/client/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @botpress/cloud-services

feat(webbrowser): add search (#13154)
  .github/workflows/deploy-integrations-production.yml
  .github/workflows/deploy-integrations-staging.yml
  integrations/webbrowser/integration.definition.ts
  integrations/webbrowser/src/actions/browse-page.ts
  integrations/webbrowser/src/actions/browse-pages.ts
  integrations/webbrowser/src/actions/capture-screenshot.ts
  integrations/webbrowser/src/actions/web-search.ts
  integrations/webbrowser/src/definitions/actions.ts
  integrations/webbrowser/src/index.ts
Owners: @botpress/cloud-services, @allardy
